.carousel-item {
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  
  @media (max-width: 768px) {
    .carousel-item {
      height: 250px;
    }
  }
  
  @media (max-width: 576px) {
    .carousel-item {
      height: 150px;
    }
  }
  
  @media (max-width: 400px) {
    .carousel-item {
      height: 50px;
    }
  }
  .carousel {
    margin-top: 20px !important;
    margin: 0px 15% 0px;
  }
  
  @media (max-width: 768px) {
    .carousel {
      margin-top: 80px !important;
      margin: 0px 0% 0px;
    }
  }  